{% load static wagtailcore_tags wagtailuserbar %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                Let This Mind be in You | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        {% tailwind_css %}
        
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="bg-white relative">
        
        {% include 'home/_partials/header.html' %}

        <div class="p-6 sm:p-10 bg-white min-h-screen">
            
            {% block content %}
            {% endblock %}
            
            
        </div>

        {% include 'home/_partials/footer.html' %}
        

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
    <style>
        ::-webkit-scrollbar {
            display: none;
        }          
    </style>
</html>
