{% extends "base.html" %}
{% load wagtailimages_tags %}




{% load wagtailcore_tags %}
{% include_block page.body %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    
    <div class="max-w-screen-sm mx-auto mt-32 sm:mt-40">
        <div class="mb-10">
            <a href="/">
                <div class="text-lg sm:text-xl italic font-bold font-serif text-[#003567]"><span class="underline">Home</span> →</div>
            </a>
        </div>
        <div class="text-2xl sm:text-3xl font-bold font-serif italic pb-10">
            {{page.title}}
        </div>    
    </div>
    {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <div class="max-w-screen-sm mx-auto">
                <div class="pb-6 pt-6">
                    <div class="text-xl sm:text-2xl font-bold font-serif italic">{{ block.value }}</div>
                </div>
            </div>
        {% elif block.block_type == 'paragraph' %}
            <div class="max-w-screen-sm mx-auto">
                <div class="mb-6">
                    <div class="text-lg">{{ block.value }}</div>
                </div>
            </div>
        {% elif block.block_type == 'indented_paragraph' %}
            <div class="max-w-screen-sm mx-auto pl-[2rem] sm:pl-[3rem]">
                <div class="mb-6">
                    <div class="text-lg">{{ block.value }}</div>
                </div>
            </div>
        {% elif block.block_type == 'image' %}
            <div class="max-w-[55rem] mx-auto">
                <div class="w-full pb-14 pt-8">
                    {% image block.value width-2000 %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="max-w-[55rem] mx-auto text-center my-[10rem]">
        <div class="text-lg font-serif font-bold opacity-[0.6]">SOLI DEO GLORIA</div>
    </div>
{% endblock %}