{% extends "base.html" %}



{% load wagtailcore_tags %}
{% include_block page.body %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="max-w-screen-sm mx-auto pt-32 sm:pt-40">
        {% for post in children %}
        <div class="mb-20">
            <div class="sm:flex justify-between text-lg sm:text-xl">
                <h2 class="font-bold italic font-serif sm:w-2/3 mb-4 sm:mb-0"><a class="text-[#003567] underline" href="{% pageurl post %}">{{ post.title }}</a></h2>
                <h2 class="italic font-serif">{{ post.date.month }}/{{ post.date.day }}/{{ post.date.year }}</h2>
            </div>
        </div>
        {% endfor %}

        <hr class="border-[.08rem] border-black">

        <div class="mt-6">
            <h2 class="text-md sm:text-lg italic font-serif">This blog is run by <a class="text-[#003567] underline" href="https://github.com/andrewtforrester">Andrew Forrester</a>. You can contact me at gnothi.mathon@gmail.com.</h2>
        </div>
    </div>
{% endblock %}