{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% include_block page.body %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="max-w-screen-sm mx-auto pt-32 sm:pt-40">
        {% for post in children %}
            <div class="">
                <div class="sm:flex justify-between text-lg sm:text-xl mb-10">
                    <h2 class="font-bold italic font-serif sm:w-2/3 mb-2 sm:mb-0"><a class="text-navy underline" href="{% pageurl post %}">{{ post.title }}</a></h2>
                    <h2 class="italic font-serif">{{ post.date.month }}/{{ post.date.day }}/{{ post.date.year }}</h2>
                </div>
                <div>
                    <div>
                        <div class="max-w-screen-sm mx-auto">
                            <div class="mb-6">
                                <div class="text-lg">{{ post.preview|richtext }}</div> 
                            </div>
                        </div>
                    </div>
                </div>
                {% if post.preview|length %}
                    <h2 class="font-bold italic font-serif sm:w-2/3 mb-2 sm:mb-0"><a class="text-navy underline" href="{% pageurl post %}">Read more →</a></h2>
                {% endif %}
                <hr class="my-10 border-purple border-[.1rem]">
            </div>
        {% endfor %}
    </div>
{% endblock %}